@import "../common/styles/variables.less";

@media screen {
  .Form {
    width: 25vw;
    display: flex;
    flex-direction: column;

    .form__textField {
      margin: 15px 0;
    }

    .form__buttons {
      display: flex;
      justify-content: space-between;
    }

    .form__button {
      width: 48%;
      margin: 1px;
    }
  }

  @media (max-width: 1050px) {
    .Form {
      width: 50vw;
    }
  }

  @media (max-width: 700px) {
    .Form {
      width: 75vw;
    }
  }

  @media (max-width: 450px) {
    .Form {
      width: 95vw;
    }
  }

}
